<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#cc4e4e">
  <title>春聯賀年卡</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <nav class="navbar sticky-top text-center mb-3">
    <div class="container-fluid d-block">
      <div class="h3 text-light select-none mt-2 mb-0">────春聯賀年卡────</div>
      <a class="by-anan text-decoration-none" href="https://www.instagram.com/depression_anan/">by 安安 (⁎⁍̴̛ᴗ⁍̴̛⁎)</a>
    </div>
  </nav>

  <div id="app" class="container">

    <div v-if="data" class="container-inner">
      <!-- Modal 查看春聯 -->
      <div class="modal fade" id="message-modal" tabindex="-1" aria-labelledby="message-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <template v-if="uid == wall">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="message-modal-label">春聯賀年卡</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-1">
                  <div class="col text-muted">
                    發送者
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="form-control">
                      {{ couplets[coupletNow].sender }}
                    </span>
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col text-muted">
                    訊息
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span class="form-control couplet-message">
                      {{ couplets[coupletNow].message }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between text-muted">
                <button class="btn" @click="changeCouplet(-1)">
                  <i class="bi bi-caret-left-fill me-1"></i>上一則
                </button>
                <span>{{ coupletNow + 1 }} / {{ couplets.length }}</span>
                <button class="btn" @click="changeCouplet(1)">
                  下一則<i class="bi bi-caret-right-fill ms-1"></i>
                </button>
              </div>
            </template>
            <template v-else>
              <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body pt-0 pb-5">
                <div class="row text-center">
                  <div class="col">
                    登入後才能看到內容喔！
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <!-- Modal 張貼春聯 -->
      <div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="post-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="post-modal-label">張貼春聯賀年卡</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mb-2">
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="couplet-text-input" maxlength="1"
                      v-model="coupletPost.text" placeholder="春聯題字">
                    <label class="text-muted" for="couplet-text-input">春聯題字（限一字）</label>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="couplet-sender-input" v-model="coupletPost.sender"
                      placeholder="發送者署名">
                    <label class="text-muted" for="couplet-sender-input">發送者署名</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="訊息內容" id="couplet-message-input"
                      v-model="coupletPost.message"></textarea>
                    <label class="text-muted" for="couplet-message-input">訊息內容</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger bg-theme" data-bs-dismiss="modal" @click="pushCouplet()">
                <i class="bi bi-send-fill me-1"></i>張貼
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div v-if="uid == wall" class="col-12">
          <h1>!!!!!!</h1>
        </div>
        <div class="col-12 display-5 fw-bold">
          <span class="text-theme">{{ data.name }}</span>
          <span class="ms-1">的春聯牆</span>
        </div>
        <div class="col-12">
          <span class="text-muted"><i class="bi bi-envelope-open-fill me-1"></i>目前共有 {{ couplets.length }} 張春聯</span>
        </div>
      </div>

      <div class="couplets-section row row-cols-3 gx-2 mt-3 mb-2 select-none">
        <template v-for="item of couplets.slice((pageNow-1)*9, pageNow*9)">
          <div class="col text-center position-relative mb-2" :class="`couplet-${item.style}`"
            @click="coupletNow=couplets.indexOf(item)" data-bs-toggle="modal" data-bs-target="#message-modal">
            <img v-if="item.style != 3" src="./img/couplet.svg" class="w-100 h-100">
            <img v-else src="./img/couplet3.svg" class="w-100 h-100">
            <span class="couplet-text position-absolute top-50 start-50">
              {{ item.text }}
            </span>
          </div>
        </template>
        <template v-if="pageNow==Math.ceil(couplets.length/9) && pageNow!=couplets.length/9"
          v-for="space of 9-(couplets.length%9)">
          <!-- 佔位用 -->
          <div class="col position-relative mb-2 opacity-0">
            <img src="./img/couplet.svg" class="w-100 h-100">
          </div>
        </template>
      </div>

      <div class="row">
        <div class="col text-center d-flex justify-content-center fs-5">
          <div class="rounded-pill text-light page-badge">
            <span @click="changePage(-1)" class="px-1"><i class="bi bi-caret-left-fill"></i></span>
            <span class="page-number d-inline-block">{{ pageNow }} / {{ Math.ceil(couplets.length/9) }}</span>
            <span @click="changePage(1)" class="px-1"><i class="bi bi-caret-right-fill"></i></span>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12 text-center mb-1">
          <button class="btn btn-danger bg-theme text-light rounded-pill w-100" data-bs-toggle="modal"
            data-bs-target="#post-modal">
            <i class="bi bi-file-earmark-plus-fill me-2"></i>貼上新的春聯賀年卡
          </button>
        </div>
        <div class="col-12 text-center">
          <button v-if="isWebkit()" class="btn btn-outline-danger text-theme rounded-pill w-100"
            @click="firebaseLoginRedirection()">
            <i class="bi bi-google me-2"></i>以 Google 登入 / 創建我的春聯牆
          </button>
          <button v-else class="btn btn-outline-danger text-theme rounded-pill w-100" @click="firebaseLoginPopup()">
            <i class="bi bi-google me-2"></i>以 Google 登入 / 創建我的春聯牆
          </button>
        </div>
      </div>

      <div class="row d-none">
        <template v-if="uid == wall">
          <div class="col">
            <button class="btn btn-primary w-100">
              <i class="bi bi-clipboard2 me-2"></i>複製連結
            </button>
          </div>
        </template>
        <template v-else>
          <div class="col-8">
            <button v-if="isWebkit()" class="btn btn-primary w-100" @click="firebaseLoginRedirection()">
              <i class="bi bi-house-add me-2"></i>創建 / 登入我的賀年牆
            </button>
            <button v-else class="btn btn-primary w-100" @click="firebaseLoginPopup()">
              <i class="bi bi-house-add me-2"></i>創建 / 登入我的賀年牆
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#post-modal">
              <i class="bi bi-plus-square me-2"></i>貼上春聯
            </button>
          </div>
        </template>
      </div>
    </div>
    <div v-else class="container-loading">
      <div class="d-flex justify-content-center position-relative">
        <div class="spinner-border text-secondary position-absolute my-5" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-database-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth-compat.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script type="module" src="./main.js"></script>
</body>

</html>